.aboutUs {
  @media #{$sm-layout-device} {
    padding: 80px 0;
  }
  padding: 150px 0;
  .wrapper {
    .leftSide {
      .mainBody {
        position: relative;
        .imgFile {
          overflow: hidden;
          position: relative;
          width: 86%;
          border-radius: 10px;
          img {
            transition: all 0.5s linear;
          }
          &::after {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgb(255, 87, 0);
            background: linear-gradient(
              0deg,
              rgba(255, 87, 0, 1) 19%,
              rgba(0, 212, 255, 0) 100%
            );
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            backdrop-filter: blur(1px);
            -webkit-backdrop-filter: blur(1px);
            transition: all 0.4s linear;
            opacity: 0;
            visibility: hidden;
            border-radius: 10px;
          }
          @media #{$sm-layout-device} {
            width: 100%;
          }
        }
        .overlay {
          width: 86%;
          margin-bottom: 45px;
          overflow: hidden;
          position: absolute;
          height: 200px;
          bottom: 0;
          left: 0;
          .textFile {
            text-align: center;
            align-items: center;
            transform: translateY(163px);
            transition: all 0.5s linear;
            h3 {
              font-size: 28px;
              font-weight: 600;
              color: var(--color-white);
            }
            p {
              font-size: 15px;
              color: var(--color-white);
              visibility: hidden;
              transition: all 0.5s linear;
              opacity: 0;
            }
          }
          @media #{$sm-layout-device} {
            width: 100%;
          }
        }
        &:hover {
          .imgFile {
            &::after {
              visibility: visible;
              opacity: 1;
            }
          }
          img {
            transform: scale(1.1);
          }
          .textFile {
            transform: translateY(73px);
          }
          .overlay p {
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
    .rightSide {
      margin-left: -22px;
      .textFile {
        h1 {
          font-size: 15px;
          color: var(--primary-theme-color);
          font-weight: 700;
        }
        h2 {
          font-size: 40px;
          @media #{$sm-layout-device} {
            font-size: 24px;
            font-weight: 600;
          }
        }
        p {
          font-size: 15px;
        }
        @media #{$sm-layout-device} {
          // text-align: center;
        }
      }
      .historyData {
        margin-top: 20px;
        .tabList {
          margin-bottom: 26px;
          display: inline-block;
          border: 1px solid #ddd;
          border-radius: 50px;
          padding-left: 0;
          .react-tabs__tab {
            padding: 10px 22px;
            border-radius: 50px;
            border: none;
            bottom: -1px;
            position: initial;
            transition: all 0.45s cubic-bezier(0, 0, 0.2, 1);
            &.react-tabs__tab--selected {
              background: var(--primary-theme-color);
              color: var(--color-white);
            }
          }
          @media #{$sm-layout-device} {
            padding-bottom: 10px;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #ddd;
          }
        }
        .tabPanel_1 {
          ul {
            padding-left: 0;
          }
          li {
            margin-bottom: 8px;
          }
          .icon {
            margin-right: 10px;
            color: var(--primary-theme-color);
          }
          h3 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 13px;
          }
        }
        .tabPanel_2,
        .tabPanel_3,
        .tabPanel_4 {
          p {
            font-size: 15px;
          }
        }
      }
      @media #{$sm-layout-device} {
        margin-left: 0;
        margin-top: 50px;
      }
    }
  }
}

.companyInfoSection {
  margin: 120px 0;
  .wrapper {
    .leftSide {
      .wrapperData {
        overflow: hidden;
        border-radius: 10px;

        img {
          border-radius: 10px;
          width: 100%;
          transition: all 0.3s linear;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .rightSide {
      padding-left: 55px;
      .wrapperData {
        h2 {
          font-size: 40px;
          font-weight: 600;
        }
        .text_1 {
          margin-top: 30px;
          p {
            font-size: 15px;
          }
        }
        .listData {
          margin-top: 20px;
          h3 {
            font-size: 18px;
            font-weight: 700;

            margin-bottom: 15px;
          }
          ul {
            padding-left: 0;
            margin-bottom: 15px;
            li {
              padding: 4px 0;
              font-size: 15px;
            }
            .icon{
              color: var(--primary-theme-color);
              margin-right: 10px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
}


.companyInfoSection_2{
  .wrapper{
    .leftSide{
        h1 {
          font-size: 15px;
          font-weight: 600;
          color: var(--primary-theme-color);
        }
        h2 {
          font-size: 40px;
          font-weight: 600;
          margin-top: 14px;
          @media #{$md-layout-device} {
            font-size: 30px;
          }
          @media #{$sm-layout-device} {
            font-size: 28px;
          }
        }
        p {
          margin-top: 14px;
          font-size: 15px;
          @media #{$md-layout-device} {
            padding: 0;
          }
          @media #{$sm-layout-device} {
            padding: 0;
          }
        }
    }
  }
}