.singleBlog {
  .singleBlog_wrapper {
    margin: 100px 0;

    @media #{$md-layout-device} {
      margin: 60px 0;
    }
    @media #{$sm-layout-device} {
      margin: 50px 0;
    }
    .leftSide {
      .wrapperBody {
        .inner {
          img {
            border-radius: 10px;
          }
          .tagHeader {
            margin: 20px 0;
            .headTag a,
            .date a,
            .comment a {
              font-size: 18px;
              font-weight: 600;
              color: var(--paragraph-color);
              margin-right: 6px;
              &:hover {
                color: var(--primary-theme-color);
              }
              &.active {
                color: var(--primary-theme-color);
              }
              @media #{$md-layout-device} {
              }
              @media #{$sm-layout-device} {
                font-size: 14px;
              }
            }
          }
          h2 {
            font-size: 30px;
            font-weight: 600;
            line-height: 30px;
            @media #{$md-layout-device} {
            }
            @media #{$sm-layout-device} {
              font-size: 20px;
            }
          }
          h3 {
            font-size: 22px;
            font-weight: 600;
            line-height: 30px;
            @media #{$md-layout-device} {
            }
            @media #{$sm-layout-device} {
              font-size: 20px;
            }
          }
          p {
            font-size: 15px;
          }
          ul {
            padding-left: 0;
            margin-bottom: 20px;
            li {
              margin-bottom: 8px;
              .icon {
                color: var(--primary-theme-color);
                font-size: 24px;
                margin-right: 10px;
              }
            }
          }
          .testimonialItem {
            background: #fafafb;
            margin: 30px 0;
            padding: 20px 10px 20px 25px;
            border-left: 3px solid var(--primary-theme-color);
            h4 {
              font-size: 22px;
              font-weight: 600;
              @media #{$md-layout-device} {
              }
              @media #{$sm-layout-device} {
                font-size: 20px;
              }
            }
            p {
              color: var(--paragraph-color);
              font-size: 20px;
              font-weight: 500;
              position: relative;
              padding-left: 54px;
              &::after {
                position: absolute;
                content: "";
                width: 40px;
                height: 3px;
                background: var(--primary-theme-color);
                left: 0;
                top: 50%;
              }
            }
          }
        }
        .tagFooter {
          display: flex;
          justify-content: space-between;
          align-items: center;
          @media #{$md-layout-device} {
          }
          @media #{$sm-layout-device} {
            display: block;
          }
          .tagInner {
            align-items: center;
            display: flex;
            ul {
              display: flex;
              margin-bottom: 0;
              padding-left: 10px;
              li {
                border: 1px solid #ddd;
                border-radius: 5px;
                margin: 0 5px;

                a {
                  color: var(--paragraph-color);
                  font-size: 15px;
                  display: block;
                  padding: 5px 8px;
                  transition: all 0.2s;
                }
                &:hover {
                  background-color: var(--primary-theme-color);
                  border: 1px solid var(--primary-theme-color);
                  a {
                    color: var(--color-white);
                  }
                }
              }
            }
            @media #{$md-layout-device} {
            }
            @media #{$sm-layout-device} {
              margin-bottom: 10px;
              ul {
                li {
                  a {
                    font-size: 12px;
                    display: block;
                    padding: 5px 5px;
                  }
                }
              }
            }
          }
          .share {
            display: flex;
            align-items: center;
            span {
            }
            ul {
              display: flex;
              margin-bottom: 0;
              padding-left: 10px;

              li {
                margin: 0 5px;
                .icon {
                  font-size: 20px;
                  transition: all 0.2s;
                  color: #ababab;
                  &:hover {
                    color: var(--primary-theme-color);
                  }
                }
              }
            }
          }
        }
      }
      .topComment {
        margin: 60px 0;
        .wrapperBody {
          .inner {
            display: flex;
            padding: 20px 30px;
            align-items: center;
            border-radius: 5px;
            min-height: 300px;
            width: 100%;
            background-color: var(--primary-theme-color);

            .imgSection {
              margin-right: 35px;
              img {
                border-radius: 50%;
              }
            }
            .textSection {
              h3 {
                color: var(--color-white);
              }
              p {
                color: var(--color-white);
              }
            }
          }
        }
        @media #{$md-layout-device} {
        }
        @media #{$sm-layout-device} {
          .wrapperBody .inner {
            display: block;
            padding: 40px 20px;
            align-items: center;
            border-radius: 5px;
            min-height: 300px;
            width: 100%;
            background-color: var(--primary-theme-color);
          }
          .imgSection {
            text-align: center;
            margin-bottom: 30px;
          }
        }
      }
      .commentSection {
        .wrapperBody {
          margin-top: 40px;
          .inner {
            .headingText {
              margin-bottom: 20px;
            }
            .commentZoon {
              margin-top: 30px;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              .imgSection {
                margin-right: 30px;
                img {
                  width: 100px;
                  border-radius: 50%;
                }
              }
              .textSection {
                p {
                  font-size: 15px;
                  line-height: 25px;
                }
                a {
                  color: var(--paragraph-color);
                  font-weight: 600;
                  &:hover {
                    color: var(--primary-theme-color);
                  }
                }
              }
              @media #{$md-layout-device} {
              }
              @media #{$sm-layout-device} {
                .imgSection {
                  margin-right: 12px;
                  img {
                    width: 65px;
                  }
                }
                .textSection {
                  h4 {
                    font-size: 18px;
                  }
                  p {
                    margin-top: 5px;
                    font-size: 13px;
                  }
                }
              }
            }
            .replyZoon {
              margin-left: 50px;
              margin-top: 25px;
              display: flex;
              justify-content: space-between;
              align-items: flex-start;
              .imgSection {
                margin-right: 30px;
                img {
                  width: 100px;
                  border-radius: 50%;
                }
              }
              .textSection {
                p {
                  font-size: 15px;
                  line-height: 25px;
                }
                a {
                  color: var(--paragraph-color);
                  font-weight: 600;
                  &:hover {
                    color: var(--primary-theme-color);
                  }
                }
              }
              @media #{$md-layout-device} {
              }
              @media #{$sm-layout-device} {
                margin-left: 20px;
                .imgSection {
                  margin-right: 12px;
                  img {
                    width: 65px;
                  }
                }
                .textSection {
                  h4 {
                    font-size: 18px;
                  }
                  p {
                    margin-top: 5px;
                    font-size: 13px;
                  }
                }
              }
            }
          }
          .commentForm {
            .wrapperBody {
              margin-top: 50px;
              padding: 60px 38px;
              box-shadow: 0 10px 60px 0 rgba(89, 86, 233, 0.1);
              border-radius: 10px;
              .inner {
                .form_group {
                  .form_control {
                    border-radius: 10px;
                    height: 50px;
                    padding: 0 20px;
                    margin-bottom: 20px;
                  }
                  .text_control {
                    border-radius: 10px;
                    padding: 20px 20px;
                    margin-bottom: 20px;
                  }
                }
              }
            }
            @media #{$md-layout-device} {
            }
            @media #{$sm-layout-device} {
              .wrapperBody {
                padding: 40px 15px;
              }
              h3 {
                padding-bottom: 10px;
              }
            }
          }
        }
      }
    }
    .rightSide {
      .wrapperBody {
        padding-left: 16px;

        .inner {
          .form_group {
            .form_control {
              border-radius: 10px;
              height: 50px;
              padding: 0 20px;
              margin-bottom: 20px;
            }
          }
        }
        .category {
          border: 1px solid #ddd;
          padding: 40px 30px;
          border-radius: 10px;
          h3 {
            font-size: 30px;
            padding-bottom: 9px;
            position: relative;
            margin-bottom: 28px;
            display: inline-block;
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 3px;
              background-color: var(--primary-theme-color);
              left: 0;
              bottom: 0;
            }
          }
          ul {
            padding-left: 0;
            margin-top: 20px;
            li {
              position: relative;
              margin-bottom: 25px;
              &::after {
                position: absolute;
                width: 0%;
                visibility: hidden;
                opacity: 0;
                content: "";
                height: 1px;
                background-color: var(--primary-theme-color);
                left: 0;
                bottom: -6px;
                transition: all 0.3s linear;
              }
              a {
                color: var(--paragraph-color);
                font-weight: 600;
              }
              &:hover {
                &::after {
                  visibility: visible;
                  opacity: 1;
                  width: 100%;
                }
                a {
                  color: var(--primary-theme-color);
                }
              }
            }
          }
        }
      }
      @media #{$md-layout-device} {
      }
      @media #{$sm-layout-device} {
        margin-top: 40px;
        .wrapperBody {
          padding-left: 0;
        }
        .category {
          padding: 25px 25px;
          h3 {
            padding-bottom: 16px;
            margin-bottom: 16px !important;
          }
        }
      }
    }
  }
}
