.sliderBody {
  @media #{$lg-layout-device} {
    margin-top: 60px;
  }
  @media #{$md-layout-device} {
    margin-top: 0px;
  }
  @media #{$sm-layout-device} {
    margin-top: 0px;
  }
  .sliderWrapper {
    .inner {
      h1 {
        font-size: 70px;
        font-weight: 700;
        @media #{$sm-layout-device} {
          font-size: 35px;
        }
      }
      p {
        font-size: 20px;
        padding: 0 16%;
        font-weight: 400 !important;
        @media #{$md-layout-device} {
          font-size: 16px;
          padding: 0 10%;
        }
        @media #{$sm-layout-device} {
          font-size: 16px;
          padding: 0 0;
        }
      }
      @media #{$md-layout-device} {
        margin-top: -60px;
      }
      @media #{$sm-layout-device} {
        margin-top: 66px;
      }
    }
    .slick-prev {
      left: 50px !important;
      z-index: 9;
      color: var(--color-white);
      width: 60px;
      height: 60px;
      border: 2px solid var(--primary-theme-color);
      background: var(--primary-theme-color) !important;
      border-radius: 50%;
      transition: 0.3s linear;
      &:hover {
        background: transparent !important;
        left: 40px !important;
        &::before {
          transition: 0.3s linear;
          color: var(--primary-theme-color) !important;
        }
      }
      @media #{$sm-layout-device} {
        display: none !important;
      }
    }
    .slick-next {
      right: 50px !important;
      z-index: 9;
      color: var(--color-white);
      width: 60px;
      height: 60px;
      border: 2px solid var(--primary-theme-color);
      background: var(--primary-theme-color) !important;
      border-radius: 50%;
      transition: 0.3s linear;
      &:hover {
        background: transparent !important;
        right: 40px !important;
        &::before {
          transition: 0.3s linear;
          color: var(--primary-theme-color) !important;
        }
      }
      @media #{$sm-layout-device} {
        display: none !important;
      }
    }
    .slick-dots {
      bottom: 60px;
      @media #{$md-layout-device} {
        bottom: 20px;
      }
      @media #{$sm-layout-device} {
        bottom: 20px;
      }
      li {
        button {
          border: 0;
          outline: none;
          background: transparent;

          &::before {
            color: var(--primary-theme-color) !important;
            font-size: 10px;
          }
        }
        &.slick-active {
          button {
            &::before {
              opacity: 1 !important;
            }
          }
        }
      }
    }
    @media #{$md-layout-device} {
      .fullscreen {
        min-height: 648px;
      }
    }
    @media #{$sm-layout-device} {
      .fullscreen {
        min-height: 470px;
      }
    }
  }
}

.slick-slide {
  //   @media #{$md-layout-device} {
  //     margin-top: 90px;
  //   }
  &.slick-current {
    .slide {
      &.slide-style-2 {
        .inner {
          h1 {
            &.title {
              -webkit-animation: 800ms ease-in-out 0s normal none 1 running
                customOne;
              animation: 800ms ease-in-out 0s normal none 1 running customOne;
            }
          }
          p {
            &.description {
              -webkit-animation: 1000ms ease-in-out 0s normal none 1 running
                customOne;
              animation: 1000ms ease-in-out 0s normal none 1 running customOne;
            }
          }
          .slide-btn {
            -webkit-animation: 1200ms ease-in-out 0s normal none 1 running
              customOne;
            animation: 1200ms ease-in-out 0s normal none 1 running customOne;
          }
        }
      }
    }
  }
}

/*--------------------
Custom Animation  
----------------------*/

@-webkit-keyframes customOne {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes customOne {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 50%, 0);
    transform: translate3d(0, 50%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.customOne {
  -webkit-animation-name: customOne;
  animation-name: customOne;
}
