.teamSection {
  padding: 120px 0;
  .wrapper {
    .part_1 {
      text-align: center;
      h1 {
        font-size: 15px;
        font-weight: 600;
        color: var(--primary-theme-color);
      }
      h2 {
        font-size: 40px;
        font-weight: 600;
        margin-top: 14px;
        @media #{$md-layout-device} {
          font-size: 30px;
        }
        @media #{$sm-layout-device} {
          font-size: 28px;
        }
      }
      p {
        padding: 0 24%;
        margin-top: 14px;
        font-size: 15px;
        @media #{$md-layout-device} {
          padding: 0;
        }
        @media #{$sm-layout-device} {
          padding: 0;
        }
      }
    }
    .part_2 {
      margin-top: 60px;
      .wrapperBody {
        .textBody {
          position: relative;
          cursor: pointer;
          border-radius: 10px;
          margin-bottom: 40px;
          transition: all .3s linear;
          .iconSection {
            position: absolute;
            top: 0;
            z-index: 9;
          }
          .imgFile {
            position: relative;
            img {
              border-radius: 10px;
            }
            &::after {
              position: absolute;
              content: "";
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              border-radius: 10px;
              background: rgb(255, 87, 0);
              background: linear-gradient(
                0deg,
                rgba(255, 87, 0, 1) 19%,
                rgba(0, 212, 255, 0) 100%
              );
              transition: all 0.3s linear;
              visibility: hidden;
              opacity: 0;
            }
          }
          .textSection {
            position: absolute;
            bottom: 0;
            margin-left: 25px;
            margin-bottom: 25px;
            overflow: hidden;
            .text {
              z-index: 99;
              transition: all 0.3s linear .2s;
              transform: translateY(55px);
              h2 {
                font-size: 20px;
                font-weight: 600;
                color: var(--color-white);
              }
              p {
                font-size: 12px;
                margin-top: -10px;
                color: var(--color-white);
              }
            }
          }
          .iconSection {
            overflow: hidden;
            margin-top: 16px;
            margin-left: 25px;
            .iconSectionWrap {
              .icon {
                  z-index: 99;
                margin-right: 8px;
                visibility: hidden;
                opacity: 0;
                display: inline-block;
                transform: translateY(22px);
                color: var(--color-white);

                &:nth-child(1) {
                  transition: all 300ms linear;
                }
                &:nth-child(2) {
                  transition: all 400ms linear;
                }
                &:nth-child(3) {
                  transition: all 450ms linear;
                }
                &:nth-child(4) {
                  transition: all 550ms linear;
                }
              }
            }
          }

          &:hover {
            transform: translateY(-10px);
            .text {
              transform: translateY(0);
            }
            .imgFile::after {
              visibility: visible;
              opacity: 1;
            }
            .iconSectionWrap {
              .icon {
                transform: translateY(0);
                visibility: visible;
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}
